.ul li {
    background-color: white;
    color: darkred;
}

.validation-error {
    background-color: white;
    color: darkred;
}

.tooltip-inner {
    max-width: 200px;
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: darkred !important;
    border-radius: .25rem;
}